---
layout: default
date: 2017-11-20
update: 2018-01-31
---

<h1>Hi! I'm Anton.</h1>
<p>I develop mobile apps using Swift and Kotlin. <br />I also cycle for fun!</p>

<h2>Blog</h2>
<ul>
  {% for post in site.categories.blog %}
    {% if post.url %}
	<li>
	     <a href="{{ post.url }}">{{ post.title }}</a>—<time>{{ post.date | date: "%b %-d, %Y" }}</time>
	</li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Projects</h2>
<ul>
  {% for post in site.categories.project %}
    {% if post.url %}
	<li>
	     <a href="{{ post.url }}">{{ post.title }}</a>—<time>{{ post.date | date: "%b %-d, %Y" }}</time>
	</li>
    {% endif %}
  {% endfor %}
</ul>
