/**
 * Syntax highlighting styles
 */
.highlight {
    background: #f6f8fa;
    color: #24292e;

    .c,
    .cm,
    .c1,
    .cs,
    .cp {
        color: #6e7781;
    }

    // Comment
    .k,
    .kd,
    .kn,
    .kp,
    .kr,
    .ow {
        color: #cf222e;
        font-weight: bold;
    }

    // Keyword
    .o {
        color: #cf222e;
    }

    // Operator
    .s,
    .s1,
    .s2,
    .sb,
    .sc,
    .sd,
    .se,
    .sh,
    .si,
    .sx {
        color: #0a3069;
    }

    // String
    .nf,
    .fm,
    .nc,
    .nt,
    .kt {
        color: #6639ba;
    }

    // Function/Class/Type
    .m,
    .mi,
    .mf,
    .mh,
    .mo,
    .kc,
    .no {
        color: #0550ae;
    }

    // Constant/Number
    .v,
    .na,
    .nv,
    .vc,
    .vg,
    .vi {
        color: #953800;
    }

    // Variable/Attr
    .w {
        color: #bbb;
    }

    // Text.Whitespace
    .err {
        color: #f85149;
        background-color: #ffebe9;
    }

    // Error
}