/*---------------------------------------
Headings
---------------------------------------*/

h1,
h2,
h3 {
	font-weight: 700;
	color: $heading-font-color;
	font-family: $heading-font;
	margin: 1.4em 0 .7em;
	line-height: 1;

	a,
	a:visited {
		text-decoration: none;
		color: $font-color;
	}

	a:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

/*---------------------------------------
Block Body Texts
---------------------------------------*/

p,
blockquote,
pre {
	margin: 0 0 1.5em;
}

blockquote {
	border-left: 4px solid $link-color;
	padding: 0 0 0 1.5em;
	font-style: italic;
	color: lighten($font-color, 20%);
}

h1+p {
	font-size: 1.2em;
	margin: 0 0 2em;
}

pre {
	padding: 8pt;
	background-color: #f6f8fa;
	border-radius: 8pt;
	font-family: $code-font;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: auto;
	font-size: 0.8em;
	line-height: 1.45;
	margin: 0 0 1em;
}

pre:has(.language-mermaid) {
	background: transparent;
	padding: 0;
	border-radius: 0;
	white-space: normal;
	overflow-x: auto;
	font-size: 1em;
	line-height: normal;
}

/*---------------------------------------
Lists
---------------------------------------*/

ul,
ol,
li dl,
dt,
dd {
	line-height: 1.4em;
	margin: 1em 0;
}

/*---------------------------------------
Text level markups
---------------------------------------*/

code,
kbd,
samp,
var {
	font-family: $code-font;
	font-size: 0.8em;
}

/*---------------------------------------
Links
---------------------------------------*/

a {
	color: $link-color;
	text-decoration: underline;

	&:visited {
		color: $link-visited-color;
	}

	&:hover {
		color: $link-hover-color;
	}
}

/*---------------------------------------
Forms
---------------------------------------*/

label,
input,
textarea,
button {
	font-size: 1em;
	margin: 0;
	line-height: 1.4em;
}

label {
	font-weight: 600;
}